<!DOCTYPE html>
<html>
<head>
    <title>POKEDEX</title>
</head>
<body>


<h1>Choisissez une génération</h1>

<ul>
    <li><a href="/generation/1">Génération 1</a></li>
    <li><a href="/generation/2">Génération 2</a></li>
    <li><a href="/generation/3">Génération 3</a></li>

</ul>

</body>
</html>