<!DOCTYPE html>
<html>
<head>
    <title>POKEDEX</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
<header class="header-pokedex">
        <img src="/logo.png" class="img-fluid my-4" id="logo" alt="Logo">
        <a href="/choice">Générations</a>
</header>

<div class="filter-container">
    <select id="typeFilter">
        <option value="">Tous les types</option>
    </select>
</div>


<section class="all-pokemons">
    {% for pokemon in pokemons %}
        <div class="pokemon-container">

            <a href="#" class="pokemon-card" data-id="{{ pokemon.id }}" data-types="{{ pokemon.apiTypes | map(type => type.name) | join(', ') }}">
                <img src="{{ pokemon.image }}">
                <p>{{ pokemon.name }}</p>
            </a>
        </div>

    {% endfor %}
</section>

<!-- MODAL POUR L'AFFICHAGE DU TYPE -->

<div class="modal" id="pokemonModal">
    <div class="modal-content">
        <span class="close-button">X</span>
        <div id="pokemonDetails">
            <!-- CODE JS -->
        </div>
    </div>
</div>

<script src="/js/type-filter.js"></script>

</body>
</html>